body {
  font-family: 'Roboto', sans-serif;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.btn {
  font-family: inherit;
}

:root {
  --first-link-color: #2196f3;
  --first-text-color: #212121;
  --second-text-color: #757575;
  --third-text-color: #ffffff;
  --hover-btn-color: #188ce8;
  --first-background-color: #2F303A;
  }


/*-----header------*/

.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--first-link-color);
}

.logo-accent {
  color: black;
}

.header-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--first-text-color);
}

.header-link {
  color: var(--first-text-color);
}

.current {
  color: var(--first-link-color);
 } 

.header-mail,
.header-tel {
  color: var(--second-text-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--first-link-color);
}

.header-mail:hover,
.header-mail:focus {
  color: var(--first-link-color);
}

.header-tel:hover,
.header-tel:focus {
  color: var(--first-link-color);
}

/*------hero-----*/
.hero {
  background-color: var(--first-background-color);
}
.hero-name {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--third-text-color);
}

.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--third-text-color);
  background-color: var(--first-link-color);
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--hover-btn-color);
}

/*-----advantage-----*/

.advantage-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-text-color);
}

.advantage-item {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

/*------work------*/

.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}

/*------team------*/

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}
.team-profession {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.team {
  background-color: #F5F4FA;;
}

/*-----footer-----*/
.footer {
  background-color: var(--first-background-color);
}

.footer-logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--first-link-color);
}

.footer-accent {
  color: var(--third-text-color);
}

.footer-contacts,
.footer-address {
  font-family: 'Roboto';
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
}

.footer-mail,
.footer-tel {
  color: rgba(255, 255, 255, 0.6);
}

.footer-mail:hover,
.footer-mail:focus,
.footer-tel:hover,
.footer-tel:focus {
  color: var(--first-link-color);
}

/*-----Portfolio----*/

.filters-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
  background-color: #f5f4fa;
  cursor: pointer;
}

.filters-btn:hover,
.filters-btn:focus {
  background-color: var(--first-link-color);
  color: var(--third-text-color);
}

.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--first-text-color);
}

.project-channel {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
